* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background-color: #222222;
  font-size: 100%;
}

.github-svg {
  position: absolute;
  right: 0;
  top: 0;
}

.title-container {
  text-align: center;
  margin-bottom: 4.125rem;
}

.title-container h1,
.title-container h2 {
  font-size: 4.5rem;
  line-height: 4.5rem;
  letter-spacing: -0.03rem;
  color: #ffe8d9;
}

.title-container h1 {
  font-family: 'Open sans', sans-serif;
  font-weight: 800;
}

.title-container h2 {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
}

.generated-css {
  border: none;
  border-radius: 6px;
  padding: 14px 63px 13px 15px;
  background-color: #626262;
  margin-bottom: 28px;
}

.generated-css span {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 105px auto 0 auto;
}

.preview-container {
  width: 286px;
  max-width: 100%;
}

.box {
  background-color: #ff9466;
  width: 286px;
  height: 286px;
  margin: 12px 0 12px 0;
}

@media (max-width: 510px) {
  html {
    font-size: 66.67%;
  }
}
