* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background-color: #222222;
  font-size: 100%;
}

a svg path {
  transition: 0.2s;
}

a:hover svg path{
  fill: #ffe8d9;
}

.github-svg {
  position: absolute;
  right: 0;
  top: 0;
}

.title-container {
  text-align: center;
  margin-bottom: 4.125rem;
}

.title-container h1,
.title-container h2 {
  font-size: 4.5rem;
  line-height: 4.5rem;
  letter-spacing: -0.03rem;
  color: #ffe8d9;
}

.title-container h1 {
  font-family: 'Open sans', sans-serif;
  font-weight: 800;
}

.title-container h2 {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
}

.generated-css {
  border: none;
  border-radius: 6px;
  padding: 14px 63px 13px 15px;
  background-color: #626262;
  margin-bottom: 28px;
}

.generated-css span {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 105px auto 0 auto;
  padding-bottom: 23px;
}

.main-container label {
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #f7f7f7;
}

.top-inputs,
.bottom-inputs {
  display: flex;
  width: 100%;
  max-width: 286px;
  gap: 86px;
}

.top-inputs input,
.bottom-inputs input {
  margin-top: 4px;
  background-color: #f7f7f7;
  border-radius: 6px;
  height: 35px;
  width: 85px;
  border: none;
  box-shadow: 0 0 2px transparent;
  outline: none;
  padding: 5px 0 5px 12px;
  font-size: 14px;
  caret-color: #ff9466;
}

.top-inputs input:focus,
.bottom-inputs input:focus {
  box-shadow: 0 0 0 2px #ff9466;

} 

.preview-container {
  width: 100%;
  max-width: 286px;
}

.box {
  background-color: #ff9466;
  width: 286px;
  height: 286px;
  margin: 12px 0 12px 0;
}

@media (max-width: 510px) {
  html {
    font-size: 66.67%;
  }
}
